.app-content {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 800px) {
  .app-content {
      display: flex;
      flex-direction: column;
  }
}

/* .sports-container {
  display: flex;
  flex-direction: row;
} */
